<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AdminElf</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <div class="flex h-screen bg-gray-200" x-data="{isSidePanelOpen: true}">
      <section class="bg-purple-700 shadow-2xl transition ease-out duration-300" :class="{'w-100': isSidePanelOpen, 'w-20': !isSidePanelOpen}">
        <div x-show="!isSidePanelOpen">
          <div class="flex justify-center items-start" @click="isSidePanelOpen = true">
            <div class="cursor-pointer mt-2">
              <%= feather_icon(@conn, "menu", width: "50", height: "50", stroke: "white") %>
            </div>
          </div>
        </div>
        <div x-show="isSidePanelOpen">
          <div class="flex items-center px-8 py-12 justify-evenly bg-purple-800 floating-cogs-bg">
            <h1 class="text-purple-100 text-4xl p-4 text-center">Admin Elf</h1>
            <div class="cursor-pointer" @click="isSidePanelOpen = false">
              <%= feather_icon(@conn, "arrow-left", width: "32", height: "32", stroke: "white") %>
            </div>
          </div>

          <div class="p-2">
            <%= for menu_item <- menu(@conn) do %>
              <%= case menu_item.type do %>
                <% :dashboard -> %>
                  <a class="flex items-center gap-3 text-purple-100 bg-purple-800 hover:bg-purple-900 transition text-xl px-4 h-14 rounded-lg mb-1" href="#">
                    <%= feather_icon(@conn, "home") %> Home
                  </a>

                <% :resource -> %>
                  <a
                    class="flex items-center gap-3 text-purple-100 bg-purple-800 hover:bg-purple-900 transition text-xl px-4 h-14 rounded-lg mb-1 <%= if resource_menu_active?(@conn, menu_item.resource_id), do: "bg-purple-900" %>"
                    href="<%= Routes.resource_index_path(@conn, menu_item.resource_id) %>"
                  >
                    <%= resource_icon(@conn, menu_item.resource_id) %>
                    <%= @conn |> resource_plural_name(menu_item.resource_id) |> capitalize() %>
                  </a>

                <% :group -> %>
                  <% group_active? = Enum.any?(menu_item.resources, &resource_menu_active?(@conn, &1)) %>

                  <div x-data="{ open: <%= group_active? %> }">
                    <a
                      class="flex items-center gap-3 text-purple-100 bg-purple-800 hover:bg-purple-900 transition text-xl px-4 h-14 rounded-lg"
                      href="javascript:void(0)"
                      @click="open = !open"
                      :class="{ 'bg-purple-900 rounded-b-none mb-0': open, 'mb-1': !open }"
                    >
                      <%= if menu_item.icon, do: feather_icon(@conn, menu_item.icon) %>
                      <div class="flex flex-grow justify-between">
                        <%= menu_item.title %>
                        <div class="flex items-center" x-show="!open">
                          <%= feather_icon(@conn, "plus") %>
                        </div>
                        <div class="flex items-center" x-show="open">
                          <%= feather_icon(@conn, "minus") %>
                        </div>
                      </div>
                    </a>

                    <div x-show="open" class="bg-purple-800 rounded-lg rounded-t-none mb-1">
                      <%= for resource_id <- menu_item.resources do %>
                        <a
                          class="flex items-center gap-3 text-purple-100 hover:bg-purple-900 transition text-lg pl-7 h-10 <%= if resource_menu_active?(@conn, resource_id), do: "bg-purple-900" %>"
                          href="<%= Routes.resource_index_path(@conn, resource_id) %>"
                        >
                          <%= resource_icon(@conn, resource_id) %>
                          <%= @conn |> resource_plural_name(resource_id) |> capitalize() %>
                        </a>
                      <% end %>
                    </div>
                  </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </section>

      <section class="flex-grow p-8 h-screen overflow-y-scroll">
        <%= @inner_content %>
      </section>
    </div>
  </body>
</html>
