<% last_page = ceil(@count / @params.limit) %>

<nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
  <%= if @params.page == 1 do %>
    <a class="relative inline-flex items-center cursor-default px-2 py-2 rounded-l-md border border-gray-300 bg-gray-100 text-sm font-medium text-gray-500">
      <span class="sr-only">Previous</span>
      <%= feather_icon(@conn, "chevron-left") %>
    </a>
  <% else %>
    <a href="<%= @route.(@params.page - 1) %>" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-blue-50">
      <span class="sr-only">Previous</span>
      <%= feather_icon(@conn, "chevron-left") %>
    </a>
  <% end %>
  <%= for page <- generate_pages(@params.page, @params.limit, last_page) do %>
    <%= cond do %>
      <% page == "..." -> %>
        <span class="relative inline-flex items-center cursor-default px-4 py-2 border border-gray-300 bg-gray-100 text-sm font-medium text-gray-700">
          ...
        </span>

      <% page == @params.page -> %>
        <a class="relative inline-flex items-center cursor-default px-4 py-2 border border-gray-300 bg-gray-100 text-sm font-medium text-gray-700">
          <%= page %>
        </a>

      <% true -> %>
        <a href="<%= @route.(page) %>" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-blue-50">
          <%= page %>
        </a>
    <% end %>
  <% end %>
  <%= if @params.page == last_page do %>
    <a class="relative inline-flex items-center cursor-default px-2 py-2 rounded-r-md border border-gray-300 bg-gray-100 text-sm font-medium text-gray-500">
      <span class="sr-only">Next</span>
      <%= feather_icon(@conn, "chevron-right") %>
    </a>
  <% else %>
    <a href="<%= @route.(@params.page + 1) %>" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-blue-50">
      <span class="sr-only">Next</span>
      <%= feather_icon(@conn, "chevron-right") %>
    </a>
  <% end %>
</nav>
